# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Pós Graduação\Desenvolvimento Web e Mobile\Desenvolvimento Web II\react\react-native\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
